docs/html
*~
src/netleveltool
src/*.[oa]
src/.deps
src/Makefile*
/config.h
/config.log
/config.status
/Makefile
/config.h.in
/configure
/configure.ac
/autoscan.log
/config.guess
/config.sub
/depcomp
/install-sh
/libtool
/ltmain.sh
/Makefile.am
/Makefile.in
/missing